<figure class="card">
    <div class="card__emoji">{%PRODUCT-IMAGE%}</div>

    <div class="card__title-box">
        <h2 class="card__title">{%PRODUCT-NAME%}</h2>
    </div>

    <div class="card__details">
        <div class="card__detail-box {%PRODUCT-NOT-ORGANIC%} ">
            <h6 class="card__detail card__detail--organic">Organic!</h6>
        </div>

        <div class="card__detail-box">
            <h6 class="card__detail">{%PRODUCT-QUANTITY%} per 📦</h6>
        </div>

        <div class="card__detail-box">
            <h6 class="card__detail card__detail--price">{%PRODUCT-PRICE%} €</h6>
        </div>
    </div>

    <a class="card__link" href="/product?id={%PRODUCT-ID%}">
        <span>Detail <i class="emoji-right">👉</i></span>
    </a>
</figure>
